@import './mixins';

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 63px;
  
    h1 {
      position: absolute;
      color: #FFFFFF;
      font-size: 48px;
      padding: 10px;
      
      @include tablet{
        font-size: 30px;
      }
      @include mobile {
        font-size: 24px;
      }
    }

    br {
      display: none;
  
      @include mobile {
        display: initial;
      }
    }

  
    .img-banner {
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
        height: 223px;
        filter: brightness(65%);

        @include tablet{
          height: 160px;
        }
        @include mobile {
          height: 111px;
        }
      }
  }