@import './mixins';

.carrousel {
    position: relative;
    margin-top: 20px;
  
    .carrousel-slide {
      height: 415px;
      width: 100%;
      object-fit: cover;
      border-radius: 25px;

      @include mobile {
        height: 255px;
        border-radius: 10px;
      }
    }
  
    .carrousel-details {
      color: #FFFFFF;
    }
  
    .carrousel-navigation-left,
    .carrousel-navigation-right {
      font-size: 65px;
      position: absolute;
      cursor: pointer;
      top: 40%;

      @include mobile {
        font-size: 20px;
        top: 45%;
      }
    }
  
    .carrousel-navigation-left {
      left: 23px;

      @include mobile {
        left: 6px;
      }
    }
  
    .carrousel-navigation-right {
      right: 23px;

      @include mobile {
       right: 6px;
      }
    }
  
    .total {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 25px;

      @include mobile {
        display: none;
      }
    }
  }
  