@import './mixins';

footer {
    background-color: #000000;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  
    img {
      width: 122px;
      margin-top: 70px;

      @include tablet {
        width: 100px;
        margin-top: 40px;
      }
      @include mobile {
        width: 80px;
        margin: 0;
      }
    }
  
    p {
      color: #FFFFFF;
      font-size: 24px;

      @include tablet {
        font-size: 20px;
      }
      @include mobile {
        width: 90px;
        font-size: 12px;
      }
    }
  }