@import './mixins';

.housing-collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 6% 0;

    @include mobile {
      flex-direction: column;
    }
  .expanded {
    margin-bottom: 3%;
  }
  .collapse {
    border-radius: 10px;
    width: 48%;

    @include mobile {
      width: 100%;
    }
    
    .content {
      height: 145px; 
      width: 100%;
      font-size: medium;

      @include tablet {
        font-size: small;
      }
      @include mobile {
        font-size: smaller;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-top: 0;
        margin-left: 4%;
      }
    }
  }
  .collapsed {
    height: 52px;

    @include mobile {
      height: 30px;
    }
  }
}
.container {
  width: 100%;
  .carrousel {
    width: 100%;
  }
  .housing-info {
    width: 100%;
  }
}
  