@import './mixins';

.housing-info {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

  .housing-description {
    color: #ff6060;
  
    h3 {
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 36px;

      @include tablet {
        font-size: 28px;
      }
      @include mobile {
        margin-top: 15px;
        font-size: 18px;
      }
    }
  
    p {
      margin-top: 10px;

      @include mobile {
        font-size: 14px;
      }
    }
  }
  
  .housing-tags {
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    padding-left: 0px;
    gap: 10px;
    font-size: 14px;
    list-style:none;

    @include mobile {
      font-size: 10px;
      //flex-wrap: nowrap;
      //align-items: center;
    }
  
    .housing-tag {
      background-color: #ff6060;
      padding: 5px 40px;
      border-radius: 10px;

      @include mobile {
        padding: 7px 14px;
      }
    }
  }
  
  .housing-host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mobile {
      flex-direction: row-reverse;
      align-items: baseline;
      justify-content: space-between;
    }
  }
  
  .host-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 24px;
    width: 80%;

    @include mobile {
      margin-top: 6px;
      width: 28%;
    }
  
    p {
      color: #ff6060;

      @include mobile {
        font-size: 12px;
      }
    }
  
    img {
      border-radius: 50%;
      margin-left: 10px;
      width: 64px;

      @include mobile {
        width: 32px;
      }
    }
  }
 }