@import './mixins';

body {
  margin: auto;
  max-width: 1280px;
  font-size: 18px;
  font-weight: 500;
}

header, main, footer {
  width: 90%;
  margin: 0 5%;
}

header {
  margin-top: 2%;
}

footer {
  @include mobile {
    width: 100%;
    margin: 0;
  }
}